a {
	font-family: arial, sans-serif;
	font-size: small;
	text-decoration: none;
	color: #686868; 
}

.header li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

.footer-left li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

.footer-right li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

#sign-in {
	padding: 7px 12px 7px 12px;
	background-color: #3399ff;
	border-radius: 4px;
}

.header li a span {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.header {
	float: right;
	top: 0;
	margin-right: 20px;
}

.footer {
	display: inline;
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}

.footer-left {
	float: left;
	margin-left: 0;
}

.footer-right {
	float: right;
	margin-right: 20px;
}

.logo {
	text-align: center;
}

.logo img {
	margin-top: 200px;
	margin-left: 250px;
}

form .search {
	display: inline;
}
